<% include ../partials/header %>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Filmes</h2>
            <p class="lead">Lista de filmes cadastrados <a href="/filmes/novo" class="btn btn-info">Novo Filme</a></p>
            <table class="table table-striped table-bordered ">
              <% results.data.forEach( filme => { %>
                  <tr>
                    <td>
                      <a href="/filmes/info/<%= filme._id %>"><%= filme.name %></a>
                    </td>
                    <td>
                      <span class="badge badge-secondary">
                        <%= labels.filter( label => label.id === filme.status )[0].name %>
                      </label>
                    </td>
                    <td>
                      <a href="/filmes/excluir/<%= filme._id %>">Excluir</a>
                    </td>
                    <td>
                      <a href="/filmes/editar/<%= filme._id %>">Editar</a>
                    </td>
                  </tr>
              <% }) %>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
              <% if(results.pagination.currentPage>0) { %>
                <li class="page-item">
                  <a class="page-link" href="/filmes?page=<%= results.pagination.currentPage - 1%>&pageSize=<%= results.pagination.pageSize %>">Anterior</a>
                </li>
              <% } %>
                <% for(let i=0; i<results.pagination.pages; i++) { %>
                <li class="page-item <% if(i==results.pagination.currentPage){ %> active <% } %>">
                  <a class="page-link" href="/filmes?page=<%= i %>&pageSize=<%= results.pagination.pageSize %>"><%= i+1 %></a>
                </li>
                <% } %>
                <% if(results.pagination.currentPage<results.pagination.pages-1){ %>
                <li class="page-item"><a class="page-link" href="/filmes?page=<%= results.pagination.currentPage+1 %>&pageSize=<%= results.pagination.pageSize %>">Next</a></li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
<% include ../partials/footer %>